
.icon-search:before { content: '\e800'; } /* '' */
.icon-vector-pencil:before { content: '\e801'; } /* '' */
.icon-arrows-ccw:before { content: '\e802'; } /* '' */
.icon-cancel:before { content: '\e803'; } /* '' */
.icon-link:before { content: '\e804'; } /* '' */
.icon-clipboard:before { content: '\e805'; } /* '' */
.icon-link-1:before { content: '\e806'; } /* '' */
.icon-lock:before { content: '\e807'; } /* '' */
.icon-lock-open:before { content: '\e808'; } /* '' */
.icon-cancel-squared:before { content: '\e809'; } /* '' */
.icon-pin:before { content: '\e80a'; } /* '' */
.icon-calendar:before { content: '\e80b'; } /* '' */
.icon-arrows-cw:before { content: '\e80c'; } /* '' */
.icon-comment:before { content: '\e80d'; } /* '' */
.icon-edit-alt:before { content: '\e80e'; } /* '' */
.icon-trash:before { content: '\e80f'; } /* '' */
.icon-clock:before { content: '\e810'; } /* '' */
.icon-heart:before { content: '\e811'; } /* '' */
.icon-heart-empty:before { content: '\e812'; } /* '' */
.icon-ok-circled:before { content: '\e813'; } /* '' */
.icon-plus-circled:before { content: '\e814'; } /* '' */
.icon-minus-circled:before { content: '\e815'; } /* '' */
.icon-book:before { content: '\e816'; } /* '' */
.icon-tint:before { content: '\e817'; } /* '' */
.icon-book-1:before { content: '\e818'; } /* '' */
.icon-level-down:before { content: '\e819'; } /* '' */
.icon-ok:before { content: '\e81a'; } /* '' */
.icon-eye:before { content: '\e81b'; } /* '' */
.icon-pencil-alt:before { content: '\e81c'; } /* '' */
.icon-comment-inv-alt2:before { content: '\e81d'; } /* '' */
.icon-hash:before { content: '\e81e'; } /* '' */
.icon-clock-1:before { content: '\e81f'; } /* '' */
.icon-bookmark:before { content: '\e820'; } /* '' */
.icon-undo:before { content: '\e821'; } /* '' */
.icon-reply:before { content: '\e822'; } /* '' */
.icon-bold:before { content: '\e823'; } /* '' */
.icon-share:before { content: '\e824'; } /* '' */
.icon-italic:before { content: '\e825'; } /* '' */
.icon-help:before { content: '\e826'; } /* '' */
.icon-chat:before { content: '\e827'; } /* '' */
.icon-feather:before { content: '\e828'; } /* '' */
.icon-quote:before { content: '\e829'; } /* '' */
.icon-forward:before { content: '\e82a'; } /* '' */
.icon-chart-bar:before { content: '\e82b'; } /* '' */
.icon-ok-outline:before { content: '\e82c'; } /* '' */
.icon-flow-split:before { content: '\e82d'; } /* '' */
.icon-link-2:before { content: '\e82e'; } /* '' */
.icon-attach:before { content: '\e82f'; } /* '' */
.icon-back:before { content: '\e830'; } /* '' */
.icon-info:before { content: '\e831'; } /* '' */
.icon-paper-plane:before { content: '\e832'; } /* '' */
.icon-leaf:before { content: '\e833'; } /* '' */
.icon-login:before { content: '\e834'; } /* '' */
.icon-book-2:before { content: '\e835'; } /* '' */
.icon-book-open:before { content: '\e836'; } /* '' */
.icon-book-3:before { content: '\e837'; } /* '' */
.icon-logout:before { content: '\e838'; } /* '' */
.icon-spin4:before { content: '\e839'; } /* '' */
.icon-book-alt:before { content: '\e83a'; } /* '' */
.icon-bookmark-1:before { content: '\e83b'; } /* '' */
.icon-book-open-1:before { content: '\e83c'; } /* '' */
.icon-bookmarks:before { content: '\e83d'; } /* '' */
.icon-bookmark-2:before { content: '\e83e'; } /* '' */
.icon-spin6:before { content: '\e83f'; } /* '' */
.icon-spin5:before { content: '\e840'; } /* '' */
.icon-moon:before { content: '\e841'; } /* '' */
.icon-sun:before { content: '\e842'; } /* '' */
.icon-pinboard:before { content: '\e843'; } /* '' */
.icon-stackoverflow:before { content: '\e844'; } /* '' */
.icon-font:before { content: '\e845'; } /* '' */
.icon-code:before { content: '\e846'; } /* '' */
.icon-popup:before { content: '\e847'; } /* '' */
.icon-rocket:before { content: '\e848'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-strike:before { content: '\f0cc'; } /* '' */
.icon-underline:before { content: '\f0cd'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-minus-squared:before { content: '\f146'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-header:before { content: '\f1dc'; } /* '' */
.icon-gwallet:before { content: '\f1ee'; } /* '' */
.icon-lock-1:before { content: '\f512'; } /* '' */
.icon-lock-open-1:before { content: '\f513'; } /* '' */
