.input_radio_box label { position: relative; display: flex; justify-content: flex-start; align-items: center; cursor: pointer; margin-right: 32px; } 
.input_radio_box label .mark { position: relative; display: block; min-width: 10px; height: 10px; background-color: var(--font-color); border-radius: 50%; margin-right: 6px; margin-top: -3px; opacity: 0.7; transition: all 0.3s ease-in-out; } 
.input_radio_box label span { font-size: 12px; font-weight: 100; line-height: 1.2; opacity: 0.6; transition: all 0.3s ease-in-out; white-space: nowrap; } 
.input_radio_box label:hover span { opacity: 1; } 
.input_radio_box label:hover .mark { background-color: var(--hover-color); opacity: 1; } 

input[type="radio"] { display: none; } 
input[type="radio"]:checked + label .mark { background-color: var(--main-color); opacity: 1; } 

.admin { position: relative; display: flex; width: 100%; height: calc(100vh - 56px); padding: 32px 16px 16px 48px; } 
.admin { --background-color: #121517; --box-color: #202632; --box-hover-color: #1f2852; --font-color: #fff; --font-sub-color: rgba(255, 255, 255, 0.78); --font-down-color: rgba(255, 255, 255, 0.30); --font-reverse-color:#202632; --grey-color: #dbdbdb; --main-color:#217af4; --shadow-color :rgba(255, 255, 255, 0.3); --hover-color : #6baaff; --hover-v2-color : #cfe3ff; --border-color: rgba(237, 237, 237, 0.7); } 

.admin_wrap { width: calc(100% - 44px); margin-left: 44px; } 

.admin_left { position: absolute; top: 32px; left: 0; } 
.admin_menu_btn { margin-left: 4px; margin-bottom: 4px; } 

.admin_menu { position: absolute; left: 0; display: flex; flex-direction: column; border: 1px solid var(--border-color); padding: 10px 8px 10px 5px; border-radius: 0 4px 4px 0; border-left: 0; transition: all 0.3s ease-in-out; } 
.admin_menu.right { left: -50px; } 
.admin_menu.left { left: 0; } 
.admin_menu a { position: relative; display: flex; justify-content: flex-start; align-items: center; width: 18px; } 
.admin_menu a i { font-size: 13px; padding-bottom: 2px; margin-bottom: 6px; } 
.admin_menu a:last-child i { margin-bottom: 0; } 
.admin_menu a span { position: absolute; top: 9px; left: 38px; transform: translateY(-50%); display: block; font-size: 12px; font-weight: 300; line-height: 1.4; white-space: nowrap; transition: all .3s ease-in-out; opacity: 0; } 
.admin_menu a:hover span { left: 32px; opacity: 1; } 

.admin_tit { position: relative; display: flex; justify-content: flex-start; align-items: center; font-size: 13px; font-weight: 300; margin-bottom: 16px; padding-top: 4px; } 
.admin_tit::before { content: ''; position: relative; display: block; min-width: 4px; height: 4px; border-radius: 50%; background-color: #fff; top: -3px; margin-right: 6px; } 

/* info */
.admin_info { position: relative; display: block; } 
.admin_info_list { position: relative; display: block; height: calc(100vh - 128px); } 
.admin_info_list li { display: flex; justify-content: flex-start; align-items: center; margin-bottom: 8px; min-height: 22px; } 
.admin_info_list li span.num { font-size: 12px; font-weight: 300; line-height: 1.4; margin-right: 16px; min-width: 30px; } 
.admin_info_list li span.name { font-size : 14px; font-weight: 300; line-height: 1.4; min-width: 200px; } 
.admin_info_list li span.auth { font-size : 14px; font-weight: 300; line-height: 1.4; } 

.admin_info_list li.tb_header span { padding-bottom: 4px; } 
.admin_info_list li.tb_header span::after { content: ''; position: relative; display: block; margin-top: 8px; width: 16px; height: 2px; background-color: #cfe3ff; } 

.user_del { position: relative; display: inline-block; padding: 2px 4px 1px; } 
.user_del i { font-size: 14px; line-height: 1.4; } 
.user_del:hover { color: var(--background-color); } 